@import "tailwindcss";

/* 🎨 Paleta customizada */
:root {
  --background: #F9F1F0;
  --primary: #FADCD9;
  --secondary: #F8AFA6;
  --text: #000000;
}

/* Util classes rápidas */
.bg-background { background-color: var(--background); }
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }

.text-text { color: var(--text); }

/* Reset básico */
html, body {
  height: 100%;
  font-family: var(--font-outfit, sans-serif);
  background-color: var(--background);
  color: var(--text);
}

/* tipografia global — Outfit (similar ao Gilroy) */


/* esconder barra do carrossel, mantendo scroll */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }